div {
  text-align: center;
}

.container {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 25rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  box-shadow: 1px 1px 10px #888888;
  border: 1px solid rgb(130, 130, 130);
  background-color: #fff;
}

@media (max-width: 576px) {
  .container {
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    z-index: 50;
    border-radius: 0px;
    padding-bottom: 10px;
  }
  .chat-container {
    height: 100% !important;
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }
}

.input-container {
  display: flex;
}

.chat-container {
  height: 60vh;
  display: flex;
  flex-direction: column-reverse;
  font-weight: 600;
  width: 100%;
  overflow: hidden;
}

.msg-container-wrapper {
  height: 90%;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

.message {
  text-align: left;
  display: block;
  padding: 5px 10px;
  background-color: rgb(218, 218, 218);
  margin: 10px 0;
  border-radius: 20px;
  width: 40%;
  overflow-wrap: break-word;
  height: fit-content;
}

.my-msg {
  text-align: right !important;
  margin-left: auto !important;
  background-color: rgb(176, 228, 240);
}

input {
  padding: 10px;
  flex: 3;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px rgb(48, 109, 200) solid;
}

button {
  font-weight: bold;
  flex: 0.5;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgb(48, 109, 200);
  color: white;
  border: 1px rgb(48, 109, 200) solid;
}

input:focus {
  outline: none;
}

.unread-badge {
  position: fixed;
  right: 10px;
  margin-bottom: 25px;
}
