.sidebar-menu {
  text-align: left;
}

.sidebar-menu:hover {
  font-weight: 800;
  opacity: 1 !important;
  border-left: solid 3px #06418d;
  border-radius: 0px;
}

.close-menu-out {
  position: absolute;
  font-size: 16px;
  right: 0px;
  border-radius: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  cursor: pointer;
}

.close-menu-in {
  position: absolute;
  font-size: 18px;
  right: 20px;
}

.sidebar-root .ant-drawer-content-wrapper {
  width: 300px !important;
}

.sidebar-root .ant-drawer-header {
  display: none;
}
/* Media query for mobile devices */
@media (max-width: 576px) {
  .sidebar-root .ant-drawer-content-wrapper {
    width: 100% !important; /* Set full width on mobile */
  }
}

@media (min-width: 769px) {
  .sidebar-toggler {
    display: none;
  }
}

.sidebar-toggler .menu {
  font-size: 20px;
}

.navbar-menu a {
  color: var(--white);
  font-weight: 500;
  font-weight: 600;
}

@media (max-width: 768px) {
  .navbar-menu {
    display: none;
  }
}

.ant-drawer-body {
  padding: 0px !important;
}

.logo-text {
  font-size: 22px;
  text-align: center;
  margin-left: 10px;
  font-weight: 700;
}

.version-chip {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--success);
  color: #fff;
  border: none;
  padding: 0px 4px;
  height: 18px;
  margin-left: 10px;
}
