.message-header-root {
  display: flex;
  cursor: pointer;
  /* justify-content: space-around; */
}

.message-header-root .ant-card-body {
  display: flex;
  align-items: center;
  padding: 15px;
  width: 100%;
}

.badge {
  height: 8px;
  width: 8px;
  margin-left: 5px;
  border-radius: 50%;
}

.badge.online {
  background-color: var(--success);
}

.badge.offline {
  background-color: var(--error);
}

div {
  text-align: left;
}

.title {
  font-size: 18px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.786);
}

.title .ant-badge {
  margin-left: 5px;
  margin-bottom: 2px;
}

.message-header-edge {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
